<!DOCTYPE html>

{% load static %}


<html>
  <head>
    <meta charset="utf-8">
    <title>Wargame</title>
    <script type="text/javascript">
        <!-- TODO automate this -->
        const DJANGO_STATIC_URL = '/static/';
        const PLAYER = {{ player }};
        console.log('player:')
        console.log(PLAYER)
        var territory_owners = {{ territory_owners }};
        var territory_troops = {{ territory_troops }};
        var visible_attacks = {{ visible_attacks }};
        var phase = {{ phase }};
        var turn = {{ turn }};
        var round = {{ round }};
        var player_ready = {{ player_ready }};
        var gamename = '{{ gamename }}';
        console.log('here');
        console.log(gamename);
        var pairings = {{ pairings }};
        var opponent = {{ opponent }};
        var available_troops = {{ available_troops }};
        var available_horses = {{ available_horses }};
        var available_mines = {{ available_mines }};
        var opponent_horses = {{ opponent_horses }};
        var opponent_mines = {{ opponent_mines }};
        var turn1imageURL = "{% static 'myapp/images/turn1colors.png'%}";
        var turn2imageURL = "{% static 'myapp/images/turn2colors.png'%}";
        var turn3imageURL = "{% static 'myapp/images/turn3colors.png'%}";
    </script>
    <script src="{% static 'myapp/pixi/pixi.min.js'%}"> </script>

  </head>
  <body>

    <script src="{% static 'myapp/js/interface.js' %}"> </script>

  </body>
</html>
