<!DOCTYPE html>

{% load static %}


<html>
  <!-- so PIXI can resize to fit window -->
  <style>* {padding: 0; margin: 0}</style>
  <head>
    <meta charset="utf-8">
    <title>Wargame</title>
    <script type="text/javascript">
        const SPRITESHEET_URL = "{% static 'hexgame/images/spritesheet.json'%}";
        const GAMENAME = "{{gamename|safe}}"
    </script>
    <script src="{% static 'hexgame/pixi/pixi.min.js'%}"> </script>

  </head>
  <body>

    <script type='module' src="{% static 'hexgame/js/interface.js' %}"> </script>

  </body>
</html>
