<!DOCTYPE html>

{% load static %}


<html>
  <!-- so PIXI can resize to fit window -->
  <style>* {padding: 0; margin: 0}</style>
  <head>
    <meta charset="utf-8">
    <title>Wargame</title>
    <script type="text/javascript">
        <!-- TODO automate this -->
        const PLAYER = {{ player }};
        var territory_owners = {{ territory_owners }};
        var usernames = {{ usernames|safe }};
        var phase = {{ phase }};
        var turn = {{ turn }};
        var readies = {{ readies }};
        var gamename = {{ gamename|safe }};
        var available_troops = {{ troopUpdate }};
        var assignments = {{ assignments }};
        var terrain = {{ terrain }};
        var BOARD_EDGE_WIDTH = {{ board_edge_width }};
        var spritesheetURL = "{% static 'hexgame/images/spritesheet.json'%}";
    </script>
    <script src="{% static 'hexgame/pixi/pixi.min.js'%}"> </script>

  </head>
  <body>

    <script type='module' src="{% static 'hexgame/js/interface.js' %}"> </script>

  </body>
</html>
