<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Wargame</title>
    <script type="text/javascript">
        <!-- TODO automate this -->
        const DJANGO_STATIC_URL = '/static/';
    </script>
    <script src="{% static 'hexgame/pixi/pixi.min.js'%}"> </script>

  </head>
  <body>

  <h1> Game list: </h1>

  <ul>
  {% for game in games %}
    <li> {{ game.0 }} 

      <form action="{% url 'hexgame:joinGame' game.0  %}" method="post">
      {% csrf_token %}
        <input required type="text" value="Username" id="username" name="username">
        <input type="submit" value="Join">
      </form>

    </li> 
  {% endfor %}

  <li> 
    <form action="{% url 'hexgame:createGame' %}" method="post">
    {% csrf_token %}
      Create game named:
      <input required type="text" id="gamename" name="gamename">
      <input type="submit" value="Create">
    </form>
  </ul>


  <h1> How to play: </h1>

  THIS GUIDE IS UNFINISHED, needs images. I should probably just explain the game to everyone. 

  <h2> Overview: </h2>
  This is an experimental war game inspired by games like risk and diplomacy. In many free for all games, when one player is about to win, all other players have no choice but to team up on them to prevent the game from ending. While this can be fun, it moves the focus of the game away from a strategic challenge toward a more diplomatic one. This game is an attempt to make a free for all game where teaming up is impossible. The attempted "solution" is to only allow players to interact on a 1v1 basis. 

  <h2> Troops </h2>
  At the beginning of each turn, each player recieves some number of troops that can be used to attack each other player. The number of troops player 1 can use
to attack player 2 is equal to the number of borders players 1 and 2 share. Notice that this means that players interact on even footing, regardless of
how many territories they control. In order to gain ground, you have to outplay your opponents on each turn. Theres is no "runaway" effect where a small lead
snowballs into a big one. 

Troops are assigned to borders as either attacking troops or defending troops. Troops can only be assigned to a border with a specific player - for example,
if players 1 and 2 share 5 borders, then each receives 5 troops to use to attack the other player (or defend against such attacks). These troops CANNOT be used
to interact with any other players. 

  <h3> Attack and defense </h3>
  A troop assigned to a border on "attack" by default supplies one attacking strength to that border. A troop assigned to a border on "defend" by default
  supplies TWO defending strength to that border, and ONE to each adjacent border, WITH THE SAME PLAYER. This bonus to adjacent borders does NOT apply if those
  borders would be defending against a different opponent. There are different territory types that modify these
  values, they will be explained in the next section. After all troops have been assigned, attack strengths and defense strengths are compared to see if any
  territories have been conquered. 

  <h3> Attack resolution </h3>
  For each pair of conflicting borders, any attack values are compared. The greater attack value is the only attack that matters (you can think of the attacks
  fighting and the bigger force winning, and then continuing on to the territory to fight the defending troops). If this attack force is greater than the 
  sum of the opponent's defense strength and attack strength, then the territory is conquered. 
  <h4> Ties with other players </h4>
    Notice that, if one territory shares borders with two opponents, then both opponents may be able to attack that territory at the same time. 
    If both attacks are successfull, the player
    with the greater total attacking force wins the territory. If two or more players conquer a territory
    with the same attacking force strength, then the territory does not change hands at all! (the different attacking forces just fight eachother and everyone
    dies, leaving the territory under the same ownership as it started).

  <h3> Territories </h3>
  There are 4 types of territories in this game - Plains, Forests, Hills, and Mountains. Each has a unique effect on the gameplay.
  <h4> Plains </h4>
    When assigning attacking troops on a plains tile, the attack applies to adjacent borders as well (if those borders are with to the same opponent).
  <h4> Forest </h4>
    Forest tiles provide a constant +1 to defense to all borders on adjacent tiles. This bonus can only be applied once per border.
  <h4> Hills </h4>
    When troops are assigned to attack from a hills tile, they additionally provide defense to the adjacent borders (with the same opponent).
  <h4> Mountains </h4>
    All borders on a mountain receive +1 to defense. Mountains are the only tile that can start with a base +2 defense (if they are adjacent to a controlled
    forest).
  </body>
</html>
